[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
keras = "==2.2.5"
tensorflow = "==1.7.0"
opencv-python = "3.4.2.16"
sklearn = "*"
pandas = "*"
matplotlib = "*"

[requires]
python_version = "2.7"
